
.yingyue{
	background: url(../img/yinyue.png) no-repeat;
}
.tupian{
	background: url(../img/tupian.png) no-repeat;
}
.zhidao{
	background: url(../img/zhidao.png) no-repeat;
}
.wenku{
	background: url(../img/wenku.png) no-repeat;
}
.fengyunbang{
	background: url(../img/fengyunbang.png) no-repeat;
}
.tuiguang{
	background: url(../img/tuiguang.png) no-repeat;
}